#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  /*color: #ff2778;*/
} 


.ls-button {
  padding: 5px 30px;
}

.ls-full-page-loader{
  width: 100%;
  text-align: center;
}

.rp-root {
  position: absolute;
  z-index: 1025 !important;
}